:root {
    --st_bg0: #101010;
    --st_bg1: #202020;
    --st_bg2: #323232;
    --st_bgh: #824cff;
    --st_fg1: #ffffff;
    --st_fgh: #d0aeff;
    --st_crisp_col: #6f6f6f2c;
    --st_crisp: 1px solid var(--st_crisp_col);
    --st_br0: .8em;
    --st_br1: .5em;
    --st_br2: .3em;
    --st_br3: .1em;
    --st_shdw: 0 5px 1em #00000053;
    --st_font_fam: "IBM Plex Mono", monospace;
    --st_txt0: 1.5em;
    --st_txt1: 1.2em;
    --st_txt2: 1em;
    --st_txt3: .7em;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.default_ui {
    height: 100%;
    width: 100%;
    background-color: var(--st_bg0);
    font-family: var(--st_font_fam);
    color: var(--st_fg1);
    display: flex;
    flex-direction: row;

    &>#tabs_nav {
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: 2px;
        border: var(--st_crisp);
        background: var(--st_bg1);

        &>.tab {
            position: relative;
            padding: .5em;

            &:hover {
                backdrop-filter: brightness(1.5);

                &>.tooltip {
                    display: block;
                }
            }

            &>.tooltip {
                display: none;
                position: absolute;
                left: 120%;
                top: 5px;
                background-color: var(--st_bg1);
                border-radius: var(--st_br1);
                padding: .3em .7em;
                text-align: center;
                min-width: 80px;
            }

            &>.icon>img {
                width: 25px;
                height: auto;
                aspect-ratio: 1/1;
            }
        }
    }
}



div#tab_contents {
    flex: 1;
}

.tab_content {
    height: 100%;
}
.iterminal {
    background: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &>.terminal_logs {
        padding: 1em;
    }

    &>.input_section {
        padding: 1em;

        &>.std_inp {
            background: transparent;
            color: inherit;
            font: inherit;
            border: 0;
            outline: 0;
            width: 100%;
        }
    }
}